<%= link_to "Add Todo", new_todo_path %>

<ul class="todos">
  <% @todos.each do |t| %>
    <li class="<%= 'completed' if t.completed? %>">
      <%= t.title %>
      <% if t.completed? %>
        <%= button_to "Incomplete", todo_completion_path(t), method: :delete %>
      <% else %>
        <%= button_to "Complete", todo_completion_path(t) %>
      <% end %>
    </li>
  <% end %>
</ul>
